@import "../../../packages/ui/src/styles/global.css";
@import "tailwindcss";

@source "../../../packages/ui/src/components/";


@keyframes line {
    from {
        top: -8rem;
    }

    to {
        top: 100%;
    }
}

.animate-line {
    animation: line 3s linear infinite;
}