*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: var(--font-primary);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);

  color: var(--color-text-primary);
  background: var(--color-surface-base);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* :focus-visible {
    outline: var(--focus-ring);
    outline-offset: 2px;
} */

::selection {
  background: var(--color-primary);
  color: white;
}

.tracking-wide {
  --tw-tracking: var(--tracking-wide);
  letter-spacing: var(--tracking-wide);
}

.heading {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  --tw-tracking: var(--tracking-tighter);
  color: var(--color-text-primary);
}

.subHeading {
  color: var(--color-text-secondary);
}

.section-content {
  max-width: 50rem;
}

.hero-bg {
  background:
    radial-gradient(
      circle at top left,
      rgba(254, 79, 0, 0.18),
      transparent 40%
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 122, 61, 0.12),
      transparent 40%
    ),
    radial-gradient(circle at center, rgba(254, 79, 0, 0.06), transparent 70%),
    white;
}
